body {
    background-color: #eee
}

.navbar{
    background-color:rgba(253, 183, 32, 0.75);
}

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}

.notify-badge{
  position: absolute;
  background: red;
  height:3rem;
  top:0.5rem;
  right:1rem;
  width:3rem;
  text-align: center;
  line-height: 2.75rem;
  font-size: 1rem;
  border-radius: 50%;
  color:black;
  border:1px solid gray;
}

.notify-free-badge{
  position: absolute;
  background: blue;
  height:3rem;
  top:0.5rem;
  right:1rem;
  width:3rem;
  text-align: center;
  line-height: 2.75rem;
  font-size: 1rem;
  border-radius: 50%;
  color:black;
  border:1px solid gray;
}

.activeItem {
  background-color: rgb(204, 204, 204);
}
